<div class="vote">
  <%= form_for question, url: questions_upvote_path, method: :post do |f| %>
    <input type="image" src="<%= image_path("upArrow.png") %>" alt="submit"/>
    <input type="hidden" name="id" value="<%= question.id %>"/>
  <% end %>
  <%= form_for question, url: questions_downvote_path, method: :post do |f| %>
    <input type="image" src="<%= image_path("downArrow.png") %>" alt="submit"/>
    <input type="hidden" name="id" value="<%= question.id %>"/>
  <% end %>
    <span class="votes_count">
    <%= question.votes_count %>
  </span>
</div>