<div class="vote">
  <form class="upvote" action="<%= questions_upvote_path %>" method="post">
    <input type="image" src="<%= image_path("upArrow.png") %>" alt="submit"/>
  </form> 
  <form class="downvote" action="<%= questions_downvote_path %>" method="post">
    <input type="image" src="<%= image_path("downArrow.png") %>" alt="submit"/>
  </form>
    <span class="votes_count">
    <%= votes_count %>
  </span>
</div>