<hr class="top">
<p><%= @question.title %></p>
<hr class="bottom">
<p><%= @question.content %></p>

<% if @question.author_id == session[:user_id] %>
  <br>
	<p><%= link_to 'Edit', edit_question_path(@question) %></p>
<% end %>

<%= render partial: "comments/index", locals: {element: @question} %>

<hr class="top">
<h2>Answers</h2>
<hr class="bottom">
<% @question.answers.each do |answer| %>

  <div><%= answer.content %></div>

  <% if answer.author_id == session[:user_id] %>
    <br>
    <div><%= link_to 'Edit', edit_answer_path(answer) %></div>
    <br>
  <% end %>

<%= render partial: "comments/index", locals: {element: answer} %>

<% end %>
<%= link_to 'Back', questions_path %>


<%= render partial: "answers/new", locals: {answer: @answer} %>
