  <li class="comment-display">
      <p>
        <span class="username"><%= comment.author.username %></span>
          <span class="timestamp"><%= comment.created_at %></span>
      </p>
      <hr>
      <p><%= comment.content %></p>
  <p class ="comment_options"><% if comment.author_id == session[:user_id] %>
  <%= link_to 'Edit', edit_comment_path(comment) %>
<% end %>
<%= link_to 'Add a comment', {controller: 'comments', action: 'new', type: 'Comment', id: comment.id}, class: "add_comment" %> </p>
  </li>
  <div class="subcomments">
  <% comment.comments.each do |subComment| %>
      <%= render partial: "comments/show", locals: {comment: subComment} %>
      <% end %>
    </div>