<h3>Answer the Question</h3>
<%= form_for @answer do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
    <input type="hidden" name="id" value="<%= @question.id %>"/>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
