  <li class="answer-display">
      <p>
        <span class="username"><%= answer.author.username %></span>
          <span class="timestamp"><%= answer.created_at %></span>
          <span class="votes"><%= render partial: "answers/votes", locals: {answer: answer} %></span>
      </p>
      <hr>
      <p><%= answer.content %></p>
  <p>
  <% if answer.author_id == session[:user_id] %>
    <br>
    <div><%= link_to 'Edit', edit_answer_path(answer) %></div>
    <br>
  <% end %>
  <p>
  </li>