<!DOCTYPE html>
<html>
<head>
  <title>Whopperflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "/header" %>
<%= render partial: "/errors" %>
<div id="main">
  <div class="container">
      <%= yield %>
  </div>
</div>

<%= render partial: "/footer" %>
</body>
</html>
